@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@font-face {
  font-family: 'ITC Handel Gothic Arabic';
  src: url('./assets/fonts/itc-handel-gothic-arabic-heavy.woff2')
    format('woff2');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@theme {
  --font-arabic: 'ITC Handel Gothic Arabic', sans-serif;
  --font-sans: 'Open Sans', 'Segoe UI', sans-serif;
}

.font-arabic {
  text-transform: uppercase;
}
