@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@font-face {
  font-family: 'ITC Handel Gothic Arabic';
  src: url('./assets/fonts/itc-handel-gothic-arabic-heavy.woff2')
    format('woff2');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@theme {
  --font-arabic: 'ITC Handel Gothic Arabic', sans-serif;
  --font-sans: 'Open Sans', 'Segoe UI', sans-serif;
  --breakpoint-sm: 20rem;
  --breakpoint-md: 45rem;
}

@layer base {
  h1 {
    @apply text-4xl font-bold leading-tight;
  }

  h2 {
    @apply text-3xl font-bold leading-tight;
  }

  h3 {
    @apply text-2xl font-semibold leading-snug;
  }
}

.font-arabic {
  text-transform: uppercase;
}
